.login-container {
  max-width: 50%;
  margin: 9rem auto;
  background-color: var(--color-background-variant);
  padding: 40px;
  border-radius: 20px;
}
.login-container h3 {
  color: var(--color-primary);
  text-align: center;
}
.form-container {
  text-align: right;
}
.login-container button {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);

  border-radius: 10px !important;

  display: block;
  width: 60%;
  margin: 50px auto !important;
  padding: 10px;
}

.login-container button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.forget-password,
.signup-links a {
  color: var(--color-primary);
  text-decoration: underline;
  text-underline-offset: 10px;
}
.forget-password, .signup-links a:hover {
  color: var(--color-background);
}
.signup-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.signup-links p {
  color: var(--color-background);
}
