
.landing-page {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);

}
h2 {
    color: var(--color-peach);
    text-align: center;
}
h5 {
    color: var(--color-gray-light);
    text-align: center;
}