.header-slider {
  background-color: var(--color-background-variant);
  padding: 100px 0 40px 0;
  margin-bottom: 120px;
}

.item-container {
  background-color: var(--color-background-variant);
  padding: 0;
  border-radius: 40px;
}
.item p {
  padding: 30px;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-primary);
  text-align: right;
  font-weight: normal;
}
.flashcard-description,
.podcast-description {
  font-size: 18px;
  line-height: 30px;
  color: var(--color-primary);
  text-align: center;
  font-weight: normal;
}
.item img {
  display: block;
  margin: auto;
  border-bottom-left-radius: 40px 40px;
  border-top-left-radius: 40px 40px;
}

/* ======================media queries==================== */

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
  img {
    display: none;
  }
  p {
    font-size: 18px;
    text-align: center;
  }

  .item-container button {
    margin-bottom: 20px;
  }
}
@media (max-width: 1284px) {
  .item-container button {
    margin: 0 auto;
  }
  /* .item-container img {
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;

  } */
}
