section {
  scroll-margin-top: 100px;
}

.page-title h1 {
  padding: 50px 0;
  margin-top: 4rem;
  text-align: center;
}

.home p {
  font-size: 18px;
  line-height: 30px;
}
.contentcard h2 {
  text-align: right;
  margin: 100px 0 30px;
}

.contentcard p {
  text-align: right;
}

.squares-container {
  display: flex;
  justify-content: center;
}

.square {
  width: 80px;
  height: 80px;
  margin: 10px;
  background-color: var(--color-gray-light);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.blue-square {
  background-color: var(--color-primary);
}
.home a {
  color: var(--color-white);
}
.contentcard a:hover {
  color: var(--color-white);
}

/* ======================media queries==================== */

@media only screen and (max-width: 600px) {
  .home p {
    font-size: 18px;
    text-align: center;
  }
  .home button {
    margin: 0 auto;
  }
}
.home .container {
  margin: 0 auto;
  width: 100%;
}

.home h2 {
  text-align: center;
}
