.projects-container {
  background-color: var(--color-white-gray);
  margin: 0 20px;
  color: var(--color-white);
}
.project-image {
  width: auto;

}
.project-summary img {
  width: 100%;
}
.project-summary {
  position: relative;
}
.summary-box {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  padding: 20px 90px;
}
.summary-box h2 {
  color: var(--color-primary-dark);
  font-weight: 600;
  font-size: 20px;

}
.summary-box p {
  color: black;
  text-align: center;
  direction: rtl;
  margin: 15px -60px;
}

.single-project {
  text-align: center;
  padding: 20px 0;
  border-right: 1px solid var(--color-primary);
  color: var(--color-primary-dark);
}
.row-container {
  border-bottom: 1px solid var(--color-primary);
  max-width: 90%;
}
.go-to-project {
  color: var(--color-primary);
  background-color: var(--color-primary);
  padding: 10px 35px;
  border-radius: 20px;
  border: none;
  margin-top: 15px;
}
.summary-btn {
  color: var(--color-white-gray);
  background-color: var(--color-primary-dark);
  padding: 10px 35px;
  border-radius: 20px;
  border: none;
  margin-top: 15px;
}
.project-icon {
  color: var(--color-primary-dark);
  display: block;
  font-size: 36px;
  margin-bottom: 10px;
}
