.navbar {
  background-color: var(--color-primary);
}

.navbar-nav .nav-link {
  color: var(--color-background);
}
.navbar-nav .nav-link .active {
  color: rgb(14, 216, 64) !important;
}
.nav-link.active {
  color: var(--color-orange) !important;
  /* background: var(--color-background-variant) !important;
  border-radius: 20%; */
}