.image-card {
  background-color: var(--color-primary);
  padding: 50px 0 10px;
}
.imagecard-overview {
  margin: 0 20px 60px;
  padding: 50px 0;

  background: linear-gradient(180deg, #19335c 0%, #427a93 100%);
}
.imagecard-subjects {
  margin: 60px 20px;
  background-color: var(--color-primary-dark);
  padding: 60px 20px;
}
.imagecard-subjects-wrapper {
  background-color: var(--color-white);
  border-radius: 30px;

  border-radius: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.subjects-thumbnail {
  padding: 10px;
}

.subjects-thumbnail .card {
  margin: 10px auto;
  background-color: var(--color-peach);
  padding: 10px;
}

.subjects-thumbnail .card-title {
  color: var(--color-primary-dark);
  font-size: 14px !important;
}
.subjects-thumbnail .card-body {
  padding: 8px;
}
.tag-search-wrapper {
  background-color: #d9d9d9;
  padding: 30px 20px;
  border-radius: 30px 0 0 30px;
  width: 25%;
}
.tag-search-wrapper h2 {
  color: var(--color-primary-dark);
  font-size: 18px;
  text-align: right;
}
.tag-search-wrapper input {
  background: var(--color-gray-light);

  text-align: right;
  padding: 5px;
  color: black;
  font-size: 12px;
}

.imagecard-about {
  margin: 60px 20px;
  padding: 30px;

  background: var(--color-white);
}
.imagecard-about h2 {
  color: var(--color-primary-dark);
  text-align: right;
}
.imagecard-about-image {
  background-color: var(--color-peach);
}
.imagecard-about p {
  font-size: 20px;
}
.imagecard-quiz {
  background: var(--color-white);
  margin: 60px 20px;
}
