footer {
    background: var(--color-gray-light);
    text-align: center;
    font-size: 16px;
    padding: 20px 0;
}

footer a {
    color: var(--color-background);
    text-decoration: none;

}
.footer-logo {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 1rem;
    display: inline-block;
    text-decoration: none;
}
.permalinks li{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.footer-socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 20px;
}
.footer-socials a{
    background: var(--color-background);
    color: var(--color-gray-dark);
    font-size: 18px;
    display: flex;
}
.footer-socials:hover {
    color: var(--color-primary);
}
.footer-copyright {
    
    color: var(--color-primary);
}
@media (max-width: 768px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer-socials {
        margin-bottom: 2.6rem;
    }
    .permalinks li {
        gap: 1rem;
        font-size: 14px;
    }
}