@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 300;
	src: url('./assets/fonts/woff2/Dana-Light.woff2') format('woff2'),
		 url('./assets/fonts/woff/Dana-Light.woff') format('woff'); 
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 600;
	src: url('./assets/fonts/woff2/Dana-DemiBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./assets/fonts/woff/Dana-DemiBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 900;
	src: url('./assets/fonts/woff2/Dana-Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./assets/fonts/woff/Dana-Black.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: dana;
	font-style: normal;
	font-weight: 100;
	src: url('./assets/fonts/woff2/Dana-Thin.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./assets/fonts/woff/Dana-Thin.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}



:root {
  --color-white: #fff;
  --color-primary: #427a93;
  --color-gray-light: #f2f2f2;
  --color-gray-dark: #696969;
}

html{scroll-behavior:smooth;
}


body {
  font-family: 'Dana',Arial, sans-serif;}
a {
  text-decoration: none;
}
h1 {
  font-weight: 900;
  color: var(--color-primary);

}

h2 {
  font-weight: 600;
  color: var(--color-primary);
}
p {
  font-weight: 300;
}
.container {
  width: 75%;
}

.button-oulined {
  display: block;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-oulined::after {
  content: "";
  background-color: var(--color-primary);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  border-radius: 30px;

}
.button-oulined:hover:after {
  top: 0px;
  left: 0px;
}
