@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@200;300;400;700&display=swap");
:root {
  --color-white: #fff;
  --color-primary: #427a93;
  --color-gray-light: #f2f2f2;
  --color-gray-dark: #696969;
}
body {
  font-family: 'Vazirmatn', sans-serif;}
a {
  text-decoration: none;
}

h2 {
  font-weight: 400;
  color: var(--color-primary);
}
.container {
  width: 75%;
}

.button-oulined {
  display: block;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-oulined::after {
  content: "";
  background-color: var(--color-primary);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  border-radius: 30px;

}
.button-oulined:hover:after {
  top: 0px;
  left: 0px;
}
